@page "/admin"
@inject NavigationManager _nav

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10 pa-3">
    <MudText Typo="Typo.h5">O que deseja visualizar hoje? 🤔</MudText>
    <div class="mt-10">
        <MudRadioGroup @bind-SelectedOption="@selectedOption">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="1" Height="100px" Class="ma-5 d-flex align-center pa-10">
                        <MudRadio Option="@("categorias")" Color="Color.Primary"></MudRadio>
                        <MudText Typo="Typo.h6">Categorias</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="1" Height="100px" Class="ma-5 d-flex align-center pa-10">
                        <MudRadio Option="@("produtos")" Color="Color.Primary"></MudRadio>
                        <MudText Typo="Typo.h6">Produtos</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudRadioGroup>
    </div>
    <div class="mt-10 d-flex justify-space-between align-center">
        <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Primary" Class="ma-2" OnClick="IrParaPagina">Ir para a página</MudButton>
        <MudLink @onclick="() => selectedOption = null">Limpar Opções</MudLink>
    </div>
</MudContainer>

@code {
    string selectedOption;

    void IrParaPagina()
    {
        if (!string.IsNullOrEmpty(selectedOption))
            _nav.NavigateTo(selectedOption);
    }
}
