@page "/"
@inject NavigationManager nav

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10">
    <MudPaper Class="mx-auto pa-6">
        <h1>Catálogo de Produtos</h1>
        <p>Um app desenvolvido por Antônio Vinícius.</p>
        <MudButton Link="https://github.com/antonvinicius"
                   Target="_blank"
                   Variant="Variant.Filled"
                   EndIcon="@Icons.Custom.Brands.GitHub"
                   Color="Color.Primary"
                   >
            GitHub
        </MudButton>
    </MudPaper>
</MudContainer>