@page "/"
@inject NavigationManager nav

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10">
    <MudPaper Class="mx-auto pa-6">
        <h1>Catálogo de Produtos</h1>
        <p>Um app desenvolvido por Antônio Vinícius.</p>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github"></MudIconButton> Visitar Github
    </MudPaper>
</MudContainer>
