@page "/"
@inject NavigationManager nav

<AppContainer>
    <h1>Catálogo de Produtos</h1>
    <p>Um app desenvolvido por Antônio Vinícius.</p>
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github"></MudIconButton> Visitar Github
</AppContainer>